.header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  height: 3rem;
  padding: 0rem 1.5rem;
  height: 50px;
}

.img {
  cursor: pointer;
  margin-bottom: 0.3rem;
  padding: 5px;
  width: 150px;
}
.topHeader {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;
  background: rgb(0, 102, 167);
}
